{%- assign path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<figure>

  <picture>
    {% for i in site.imagemagick.widths -%}
      <source media="(max-width: {{ i }}px)" srcset="{{ path | relative_url }}-{{ i }}.webp" />
    {% endfor -%}

    <!-- Fallback to the original file -->
    <img src="{{ include.path | relative_url }}" class="{{ include.class }}" alt="{{ include.alt }}">

  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
